// Заголовки, общие БЄМ блоки и проче...
$accentColor: #2196F3;
$hoverColor: #0077d8;

.page {

    // .page__hero

    &__hero {
    }

    &__about {
    }

    &__clients {}
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    @include adaptiveValue("height", 600, 200);
    top: 0;
    left: 0;
    object-fit: cover;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    
    &__big {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
    }

}

.button {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: rem(10) rem(32);

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
            &:hover {
                background-color: $hoverColor;
            }
        }
}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;

    &__dark {
        color: #000000;
    }
    &__light {
        color: #ffffff;
    }
}

.menu {

	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
        display: flex;
        justify-content: space-between;
	}

	// .menu__item

	&__item {
        font-weight: 500;
        line-height: 0.87;
        letter-spacing: 0.02em;
        color: #212121;

        &:not(:last-child) {
                @include adaptiveValue("margin-right", 50, 10);
            }
	}

	// .menu__link

	&__link {

        @media (any-hover: hover) {
                &:hover {
                    color: $accentColor;
                }
            }
	}
}
